*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Hero section */
.hero-section{
  background: linear-gradient(135deg,#9d9da3, #7c3aed);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 2rem;
}
.hero-content h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero-content p {
    max-width: 600px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;}

    /* Product section */

.product-section {
    padding: 80px 0;
   background-color: white;
}

.product-card{
  transition: 0.3s ease;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}

.product-card:hover{
   transform: translateY(-8px);
   box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.product-card img {
    height: 220px;
    object-fit: cover;
}


/* Footer section */


.footer-section {
    background-color: #212529;
    color: white;
    padding: 40px 20px;
}

/* =========================
   RESPONSIVE DESIGN
========================= */

@media (max-width: 768px) {

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .products-section {
        padding: 50px 15px;
    }
}

@media (max-width: 576px) {

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .btn-lg {
        width: 100%;
    }
}